@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p></p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" height="400" />
<br />

<div>
    <a asp-controller="Home" asp-action="MovieForm">Fill out New Movie</a>
</div>


<div>
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>

